* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapp {
  width: 100%;
  min-height: 870px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.wrapp .header__wrapp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  border-bottom: 2px solid #eee;
}
.wrapp .header__wrapp .header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
}
.wrapp .header__wrapp .header__nav .btn__nav .row__btn_nav {
  display: flex;
}
.wrapp .header__wrapp .header__nav .btn__nav .row__btn_nav .dot__row {
  width: 5px;
  height: 5px;
  background-color: #363E61;
  border-radius: 50%;
  margin: 5px;
}
.wrapp .header__wrapp .header__nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 80px;
}
.wrapp .header__wrapp .header__nav ul li {
  margin-right: 50px;
}
.wrapp .header__wrapp .header__nav ul li:last-child {
  margin-right: 0;
}
.wrapp .header__wrapp .header__nav ul li a {
  text-decoration: none;
  color: #363E61;
  font-size: calc(6px + 0.7vw);
}
.wrapp .header__wrapp .header__acc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
}
.wrapp .header__wrapp .header__acc .item1__acc {
  margin-right: 70px;
}
.wrapp .header__wrapp .header__acc .item1__acc img {
  width: 20px;
  height: 20px;
}
.wrapp .header__wrapp .header__acc .item2__acc {
  margin-right: 70px;
}
.wrapp .header__wrapp .header__acc .item2__acc img {
  width: 20px;
  height: 22px;
}
.wrapp .header__wrapp .header__acc .item3__acc img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.wrapp .main {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px 15px 0px 15px;
  background-color: white;
}
.wrapp .main .main__left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapp .main .main__left .top__main_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapp .main .main__left .top__main_left .txt__main_left {
  display: flex;
  flex-direction: column;
}
.wrapp .main .main__left .top__main_left .txt__main_left .p1__main {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.6em;
  color: #61CDE9;
}
.wrapp .main .main__left .top__main_left .txt__main_left h1 {
  font-weight: bolder;
  font-size: 66px;
  line-height: 121px;
  color: #363E61;
}
.wrapp .main .main__left .top__main_left .txt__main_left .p2__main {
  width: 600px;
  font-weight: 450;
  font-size: 15px;
  line-height: 20px;
  color: #727A9A;
}
.wrapp .main .main__left .top__main_left .circle__main_left {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #FFB63E;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapp .main .main__left .top__main_left .circle__main_left .p1__circle__main_left {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #FFFFFF;
}
.wrapp .main .main__left .top__main_left .circle__main_left .p2__circle__main_left {
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.3em;
}
.wrapp .main .main__left .btn__main_left {
  width: 160px;
  height: 60px;
  background-color: #61CDE9;
  box-shadow: 0px 8px 25px #BFF2FF;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  margin-top: 35px;
}
.wrapp .main .main__left .cards__main_left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  margin-top: 180px;
}
.wrapp .main .main__left .cards__main_left .card1 {
  width: 230px;
  height: 120px;
  background-color: #8EDD82;
  box-shadow: 0px 10px 30px #D3EECF;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px 5px 20px 0px;
  align-items: flex-end;
  justify-content: space-around;
  color: #fff;
}
.wrapp .main .main__left .cards__main_left .card1 .circles__card1 {
  display: flex;
}
.wrapp .main .main__left .cards__main_left .card1 .circles__card1 .circle1__card1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #9DEA91;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp .main .main__left .cards__main_left .card1 .circles__card1 .circle2__card1 {
  width: 60px;
  height: 60px;
  background-color: #B6F2AD;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wrapp .main .main__left .cards__main_left .card1 .circles__card1 .circle2__card1 img {
  width: 180px;
  margin-left: 55px;
}
.wrapp .main .main__left .cards__main_left .card1 .circles__card1 .p__card1_left {
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  text-align: right;
  color: #fff;
}
.wrapp .main .main__left .cards__main_left .card2 {
  width: 230px;
  height: 120px;
  background: #FFB63E;
  box-shadow: 0px 10px 30px #FFDEA8;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px 5px 20px 0px;
  align-items: flex-end;
  justify-content: space-around;
  color: #fff;
}
.wrapp .main .main__left .cards__main_left .card2 .circles__card2 {
  display: flex;
}
.wrapp .main .main__left .cards__main_left .card2 .circles__card2 .circle1__card2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FFC667;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp .main .main__left .cards__main_left .card2 .circles__card2 .circle2__card2 {
  width: 60px;
  height: 60px;
  background-color: #FFD082;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wrapp .main .main__left .cards__main_left .card2 .circles__card2 .circle2__card2 img {
  width: 180px;
  margin-left: 55px;
}
.wrapp .main .main__left .cards__main_left .card2 .circles__card2 .p__card2_left {
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  text-align: right;
  color: #fff;
}
.wrapp .main .main__left .cards__main_left .card3 {
  width: 230px;
  height: 120px;
  background: #328BE0;
  box-shadow: 0px 10px 30px #BFE0FF;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px 5px 20px 0px;
  align-items: flex-end;
  justify-content: space-around;
  color: #fff;
}
.wrapp .main .main__left .cards__main_left .card3 .circles__card3 {
  display: flex;
}
.wrapp .main .main__left .cards__main_left .card3 .circles__card3 .circle1__card3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #3B98F1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp .main .main__left .cards__main_left .card3 .circles__card3 .circle2__card3 {
  width: 60px;
  height: 60px;
  background-color: #4FA9FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wrapp .main .main__left .cards__main_left .card3 .circles__card3 .circle2__card3 img {
  width: 180px;
  margin-left: 55px;
}
.wrapp .main .main__left .cards__main_left .card3 .circles__card3 .p__card3_left {
  font-weight: 700;
  font-size: 13px;
  line-height: 28px;
  text-align: right;
  color: #fff;
}
.wrapp .main .main__right {
  width: 30%;
  display: flex;
  min-height: 80px;
  justify-content: center;
  align-items: center;
}
.wrapp .main .main__right .shoe__main {
  display: flex;
}
.wrapp .main .main__right .shoe__main .shoe__circles {
  display: flex;
}
.wrapp .main .main__right .shoe__main .shoe__circles .circle1__shoe {
  width: 440px;
  height: 440px;
  border-radius: 50%;
  background-color: #61CDE9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp .main .main__right .shoe__main .shoe__circles .circle2__shoe {
  width: 340px;
  height: 340px;
  background-color: #76DDF8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp .main .main__right .shoe__main .shoe__circles .circle3__shoe {
  width: 240px;
  height: 240px;
  background-color: #8FE8FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp .main .main__right .shoe__main .shoe__circles .circle3__shoe img {
  width: 800px;
  height: 470px;
  z-index: 4;
  transform: rotate(30deg);
  transition: 1s;
}
.wrapp .main .main__right .shoe__main .shoe__circles .circle3__shoe img:hover {
  transform: rotate(-30deg);
  transition: 1s;
}

/*# sourceMappingURL=style.css.map */
